<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<!--<nav th:fragment="admin-nav" class="admin-sidebar">-->
<!--    <div class="sidebar-header">-->
<!--        <h2>Admin Panel</h2>-->
<!--    </div>-->
<!--    <ul class="sidebar-menu">-->
<!--        <li><a href="/admin/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>-->
<!--        <li><a href="/admin/institutions"><i class="fas fa-building"></i> Fundacje</a></li>-->
<!--        <li><a href="/admin/admins"><i class="fas fa-user-shield"></i> Administratorzy</a></li>-->
<!--        <li><a href="/admin/users"><i class="fas fa-users"></i> Użytkownicy</a></li>-->
<!--    </ul>-->
<!--</nav>-->

<nav class="admin-navbar" th:fragment="admin-nav">
    <div class="navbar-brand">Admin Panel</div>
    <ul class="navbar-menu">
        <li><a href="/admin/donations"><i class="fas fa-tachometer-alt"></i> Podarunki</a></li>
        <li><a href="/admin/institutions"><i class="fas fa-building"></i> Fundacje</a></li>
        <li><a href="/admin/admins"><i class="fas fa-user-shield"></i> Administratorzy</a></li>
        <li><a href="/admin/users"><i class="fas fa-users"></i> Użytkownicy</a></li>
    </ul>
</nav>
</html>