<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
<!--    <title>Admin Panel</title>-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>-->
<!--    <link rel="stylesheet" href="/css/admin-style.css"/>-->
<!--</head>-->

<div th:replace="~{/admin/admin-header :: admin-head (pageTitle='Donations')}"></div>
<body>
<div class="admin-container">
        <div th:replace="~{/admin/admin-navbar :: admin-nav}"></div>

        <main class="admin-content">
            <header class="content-header">
                <h1 th:text="${pageTitle}">Page Title</h1>
                <div class="user-info">
                    <!--                <span th:text="${#authentication.name}">Admin Name</span>-->
                    <a href="/logout" class="btn btn-logout">Wyloguj</a>
                </div>
            </header>
            <!--        <div class="content-body" th:replace="${content}">-->
            <!--            &lt;!&ndash; Content will be inserted here &ndash;&gt;-->
            <!--        </div>-->
        </main>
</div>
</body>
</html>