<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header class="header--form-page">
    <div th:replace="~{home-navbar :: home-nav}"></div>

    <div class="slogan container container--90">
        <div class="slogan--item">
            <h1>
                Oddaj rzeczy, których już nie chcesz<br/>
                <span class="uppercase">potrzebującym</span>
            </h1>

            <div class="slogan--steps">
                <div class="slogan--steps-title">Wystarczą 4 proste kroki:</div>
                <ul class="slogan--steps-boxes">
                    <li>
                        <div><em>1</em><span>Wybierz rzeczy</span></div>
                    </li>
                    <li>
                        <div><em>2</em><span>Spakuj je w worki</span></div>
                    </li>
                    <li>
                        <div><em>3</em><span>Wybierz fundację</span></div>
                    </li>
                    <li>
                        <div><em>4</em><span>Zamów kuriera</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="form--steps">
    <div class="form--steps-instructions">
        <div class="form--steps-container">
            <h3>Ważne!</h3>
            <p data-step="1" class="active">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="2">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="3">
                Wybierz jedną, do
                której trafi Twoja przesyłka.
            </p>
            <p data-step="4">Podaj adres oraz termin odbioru rzeczy.</p>
        </div>
    </div>

    <div class="form--steps-container">
        <div class="form--steps-counter">Krok <span>1</span>/4</div>

                <form th:action="@{/donations/form-confirmation}" method="post" th:object="${donationForm}">
                    <!-- STEP 1: class .active is switching steps -->
                    <div data-step="1" class="active">
                        <h3>Zaznacz co chcesz oddać:</h3>

                        <div class="form-group form-group--checkbox" th:each="category : *{categories}">
                            <label>
                                <input type="checkbox"
                                       name="categories"
                                       th:value="${category.categoryId}"
                                       th:field="*{donation.categories}"
                                />
                                <span class="checkbox checkbox-custom"></span>
                                <span class="description" th:text="${category.name}"></span>
                            </label>
                        </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn next-step">Dalej</button>
                </div>
            </div>

            <!-- STEP 2 -->
            <div data-step="2">
                <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

                <div class="form-group form-group--inline" th:classappend="${#fields.hasErrors('donation.quantity')} ? 'has-error'">
                    <label>
                        Liczba 60l worków:
                        <input type="number" name="bags" step="1" min="1"
                               th:field="*{donation.quantity}"
                        />
                        <span th:if="${#fields.hasErrors('donation.quantity')}"
                              th:errors="*{donation.quantity}"
                              class="error-message"></span>
                    </label>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="button" class="btn next-step">Dalej</button>
                </div>
            </div>


            <!-- STEP 4 -->
            <div data-step="3">
                <h3>Wybierz organizacje, której chcesz pomóc:</h3>

                <div class="form-group form-group--checkbox" th:each="institution : ${donationForm.institutions}">
                    <label>
                        <input
                                type="radio"
                                th:value="${institution.institutionId}"
                                th:field="*{donation.institution}"
                        />
                        <span class="checkbox radio"></span>
                        <span class="description">
            <div class="title" th:text="'Fundacja ' + ${institution.name}"></div>
            <div class="subtitle" th:text="${institution.description}"></div>
        </span>
                    </label>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="button" class="btn next-step">Dalej</button>
                </div>
            </div>

            <!-- STEP 5 -->
            <div data-step="4">
                <h3>Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

                <div class="form-section form-section--columns">
                    <div class="form-section--column">
                        <h4>Adres odbioru</h4>
                        <div class="form-group form-group--inline">
                            <label> Ulica <input type="text" name="street" th:field="*{donation.street}"/> </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label> Miasto <input type="text" name="city" th:field="*{donation.city}"/> </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                Kod pocztowy <input type="text" name="postcode" th:field="*{donation.zip}"/>
                            </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                Numer telefonu <input type="text" name="phone" th:field="*{donation.phone}"/>
                            </label>
                        </div>
                    </div>

                    <div class="form-section--column">
                        <h4>Termin odbioru</h4>
                        <div class="form-group form-group--inline">
                            <label> Data <input type="date" name="date" th:field="*{donation.pickUpDate}"/> </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label> Godzina <input type="time" name="time" th:field="*{donation.pickUpTime}"/> </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                Uwagi dla kuriera
                                <textarea name="more_info" rows="5" th:field="*{donation.pickUpComment}"></textarea>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="button" class="btn next-step">Dalej</button>
                </div>
            </div>

            <!-- STEP 6 -->
            <div data-step="5">
                <h3>Podsumowanie Twojej darowizny</h3>

                <div class="summary">
                    <div class="form-section">
                        <h4>Oddajesz:</h4>
                        <ul>
                            <li>
                                <span class="icon icon-bag "></span>
                                <span class="summary--text" id="donationSummary"
                                ></span
                                >
                            </li>

                            <li>
                                <span class="icon icon-hand"></span>
                                <span class="summary--text" id="organizationSummary"
                                ></span
                                >
                            </li>
                        </ul>
                    </div>

                    <div class="form-section form-section--columns">
                        <div class="form-section--column">
                            <h4>Adres odbioru:</h4>
                            <ul>
                                <li id="streetSummary"></li>
                                <li id="citySummary"></li>
                                <li id="zipSummary"></li>
                                <li id="phoneSummary"></li>
                            </ul>
                        </div>

                        <div class="form-section--column">
                            <h4>Termin odbioru:</h4>
                            <ul>
                                <li id="pickUpDateSummary"></li>
                                <li id="pickUpTimeSummary"></li>
                                <li id="pickUpCommentSummary"></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="submit" class="btn">Potwierdzam</button>
                </div>
            </div>
        </form>
    </div>
</section>

<footer>
<!--    <div class="contact">-->
<!--        <h2>Skontaktuj się z nami</h2>-->
<!--        <h3>Formularz kontaktowy</h3>-->
<!--        <form class="form&#45;&#45;contact">-->
<!--            <div class="form-group form-group&#45;&#45;50">-->
<!--                <input type="text" name="name" placeholder="Imię" th:field="*{donationForm.contactForm.name}"/>-->
<!--            </div>-->
<!--            <div class="form-group form-group&#45;&#45;50">-->
<!--                <input type="text" name="surname" placeholder="Nazwisko"-->
<!--                       th:field="*{donationForm.contactForm.surname}"/>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--            <textarea-->
<!--                    name="message"-->
<!--                    placeholder="Wiadomość"-->
<!--                    rows="1" th:field="*{donationForm.contactForm.message}"-->
<!--            ></textarea>-->
<!--            </div>-->

<!--            <button class="btn" type="submit">Wyślij</button>-->
<!--        </form>-->
<!--    </div>-->
    <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2018</span>
        <div class="bottom-line--icons">
            <a href="#" class="btn btn--small"
            ><img src="/images/icon-facebook.svg"
            /></a>
            <a href="#" class="btn btn--small"
            ><img src="/images/icon-instagram.svg"
            /></a>
        </div>
    </div>
</footer>

<script src="/js/app.js"></script>
</body>
</html>
